<div class="toggle toggle-transparent toggle-bordered-simple">
	<div class="toggle active">
		<label>No. Faktur : FKT20180100001</label>
		<div class="toggle-content">	
			<p>Tanggal Transaksi : 09 January 2018 | Rp. 60,000</p>	
				<div class="table-responsive">	
					<table class="table table-hover">		
						<thead>			
						<tr>				
							<th>Nama Produk</th>					
							<th>Deskripsi</th>					
							<th>Total</th>			
						</tr>		
						</thead>		
						<tbody>	
						<tr>		
							<td>TOPLES AK 500</td>		
							<td>@6,000 x 1</td>		
							<td>6,000</td>	
						</tr>		
						</tbody>	
					</table>
				</div>
			<div class="row">	
				<div class="col-md-6">		
					Alamat Tujuan : <br>		<strong></strong><br>	
				</div>	
				<div class="col-md-6">		
					<p class="pull-right">Ongkos Kirim : Rp. 0</p>	
				</div>
			</div>
			<div class="row">	
				<p class="pull-right"><strong>Total Pembayaran : Rp. 60,000</strong></p>
			</div>
			<div class="row">	
				<p>Status : PROSES</p>
			</div>
		</div>
	</div>
	<div class="toggle">
		<label>No. Faktur : FKT20171200006</label>
		<div class="toggle-content">	
			<p>Tanggal Transaksi : 28 December 2017 | Rp. 6,000</p>	
			<div class="table-responsive">	
				<table class="table table-hover">		
					<thead>			
					<tr>				
						<th>Nama Produk</th>				
						<th>Deskripsi</th>				
						<th>Total</th>			
					</tr>		
					</thead>		
					<tbody>	
					<tr>		
						<td>TOPLES AK 500</td>		
						<td>@6,000 x 1</td>		
						<td>6,000</td>	
					</tr>		
					</tbody>	
				</table>
			</div>
			<div class="row">	
				<div class="col-md-6">		
					Alamat Tujuan : <br>		<strong></strong><br>	
				</div>	
				<div class="col-md-6">		
					<p class="pull-right">Ongkos Kirim : Rp. 0</p>	
				</div>
			</div>
			<div class="row">	
				<p class="pull-right"><strong>Total Pembayaran : Rp. 6,000</strong></p>
			</div>
			<div class="row">	
				<p>Status : PROSES</p>
			</div>
		</div>
	</div>
</div>
			
			
			
			
			
			
			
			